<div class="card card-reply">
  <div class="card-block">
    <div class="tooltip">
      <i class="fa fa-user-circle icon-user"></i>
      <span class="tooltiptext"><%= r.user.email %></span>
    </div> &nbsp;
    <%= r.content.html_safe %> &nbsp;
    <% if r.user_id == current_user.id %>
      <%= link_to reply_path(r), method: "DELETE", class: "delete-post", data: { confirm: "정말 삭제하겠습니까?" } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
      <%= link_to edit_reply_path(r), remote: true, class: "edit-post" do %>
        <i class="fa fa-edit" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>
