<div class="card">
  <div class="card-block">
    <span class="content-reply"><%= r.content.html_safe %> &nbsp;</span>
    <div class="tooltip">
      <i class="fa fa-user-circle icon-user"></i>
      <span class="tooltiptext"><%= r.user.email %></span>
    </div> &nbsp;
    <% if r.user_id == current_user.id %>
      <%= link_to reply_path(r), method: "DELETE", remote: true, class: "delete-reply", data: { confirm: "정말 삭제하겠습니까?" } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
      <%= link_to edit_reply_path(r), remote: true, class: "edit-reply" do %>
        <i class="fa fa-edit" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>
