<div class="card card-reply">
  <div class="card-block">
    <%= form_for [post, reply], class: "md-form" do |f| %>
      <%= f.text_area :content, class: "md-textarea" %>
      <%= f.submit "SUBMIT", class: "btn btn-default submit-reply" %>
    <% end %>
  </div>
</div>
