<div class="container yeahap-list">
  <%= render partial: 'index', locals: { yeahaps: @yeahaps } %>
</div>


<!-- Modal -->
<div class="modal fade scrap-modal" id="editModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Choose your Friend </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <center>
          say hi.
        </center>
      </div>
    </div>
  </div>
</div>

