<%= form_for yeahapbox, class: "form-group" do |y| %>
  <br>
  <%= y.text_field :title, class: "form-control edit-yeahap", placeholder: "title", required: true %>
  <div class="text-center">
    <%= y.submit "SUBMIT", class: "btn-americano" %>
    <%= link_to "BACK", root_path, class: "btn-americano" %>
  </div>
<% end %>
