<%= form_for note, class: "form-group" do |f| %>
  <%= f.text_field :title, class: "form-control", placeholder: "title", required: true %>
  <br>
  <div class="text-center">
    <%= f.submit "SUBMIT", class: "btn-americano" %>
    <%= link_to "BACK", my_notes_path, class: "btn-americano" %>
  </div>
<% end %>
