<main>
  <div class="container main mynote">
    <%= render partial: 'index', locals: { my_posts: @my_posts, my_note: @my_note.id, authority: @authority } %>
  </div>
</main>

<script>
$(document).ready(function(){
  hljs.initHighlighting.called = false;
  hljs.initHighlighting();
});
</script>

