<header>

</header>
<main>

  <!--Main layout-->
  <div class="container">
    <div class="row">

      <!--Main column quotes & opinion-->
      <div class="col-lg-10">
        <%= render partial: 'posts/index', locals: { posts: @posts } %>
      </div>
      <!--/.Main column-->

    </div>
  </div>
  <!--/.Main layout-->

</main>
