<div class="page-box">
  <%= f.number_field :page, class: "form-control new-post-page", required: true %> <span>PAGE</span>
</div>
<%= f.text_area :content, id: 'editor1', class: "form-control" %>
<div class="btn-box text-center">
  <%= f.submit "SUBMIT", class: "btn btn-default" %>
  <%= link_to "BACK", book_path(book, page: page), class: "btn btn-primary" %>
</div>
