<div class="row">
  <div class="quote-new">
    <%= link_to "+ New Post", new_post_path, remote: true %>
  </div>
</div>
<% posts.each do |q| %>
  <div class="row">
    <div class="col-lg-11">
      <%= q.content %>
    </div>
    <div class="col-lg-1"><i class="fa fa-comments-o"></i> &nbsp; <%= q.replies.count %></div>
  </div>
  <%= render partial: 'replies/index', locals: { replies: q.replies } %>
<% end %>
