<% posts.each do |q| %>
  <div class="row">
    <div class="col-lg-10 reviews">
      <%= q.content %>
      <br>
    </div>
    <div class="col-lg-2 reviews">
      <span>궁금 / 해결</span>
    </div>
  </div>
  <%= render partial: 'replies/index', locals: { replies: q.replies} %>
<% end %>
