<main>
  <div class="container main">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <%= form_for @post do |f| %>
          <%= render partial: 'form', locals: { book: @book, f: f, page: @page } %>
        <% end %>
      </div>
    </div>
  </div>
</main>
<script>
// Turn off automatic editor creation first.
// This one line makes  inline mode to change font and style with dropdown menu
// and should be outside $(document).ready block
CKEDITOR.disableAutoInline = true;
$(document).ready(function(){
  var editor = CKEDITOR.inline( 'editor1'/*,{removePlugins: 'stylescombo'}*/);
  editor.config.startupFocus = true;
});
</script>
