// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

html,
body {
  height: 100%;
}

main {
  min-height: 78vh;
}

/* Navigation*/
.navbar {
  background-color: transparent;
}
.collapse > span.email {
  font-size: 16px;
  padding: {
    top: 0.5rem;
  }
  margin: {
    right: 1rem;
  }
}
.form-login {
  float: right;
  input.btn-sm {
    height: 100%;
    font-size: 0.8rem;
  }
}

.top-nav-collapse {
  background-color: #4285F4;
}

.book-info {
  position: absolute;
  text-align: center;
  margin: 0;
  left: 0;
  right: 0;
  height: 300px;
  display: none;
}

.card-title {
  color: $first_color;
}

.book-info {
  padding: {
    top: 2.5rem;
  }
  background-color: #111;
  opacity: 0.8;
}

footer.page-footer {
  background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285F4;
  }
}

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}
/* Carousel*/

.carousel {
  height: 50%;
}

@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}

.carousel-item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

/*Caption*/

.flex-center {
  color: #fff;
}

//books/show page 관련
main {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.widget-wrapper {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 2rem;
}

.reviews {
  text-align: center;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.price {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -2px;
}

.price .tag {
  margin: 0;
}

.quote-u-name{
  position: absolute;
  right: 20px;
  bottom: 20px;
}


