// Place all the styles related to the MyNotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.icons {
  margin: 0 5px;
  color: $light-dark;
}
.mynote-content::over {
  background: #eceeef;
}
div.row > div.mynote-content > div.mynote-tools {
  display: none;
  position: absolute;
  right: 0.4rem;
  top: 0;
  span > a {
    color: $dark;
  }
}
.card-note {
  width: 100%;
  height: 359px;
  margin: 0;
}
.note-size {
  width: 100%;
  height: 359px;
}
.note-info {
  padding: 3rem 1rem;
  opacity: 0.8;
  word-break: keep-all;
  text-align: center;
  display: table;
  div {
    display: table-cell;
    vertical-align: middle;
    h5.card-title {
      color: $light_dark;
    }
  }
}
