// Place all the styles related to the my_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// margin Setting
.marginTop30 {
  margin-top: 30px;
}
.marginRight20 {
  margin-right: 20px;
}
.marginBottom50 {
  margin-bottom: 50px;
}
.profile {
  .profile-img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
    float: left;
  }
  padding: 10px 0;
  p {
    display: inline-block;
  }
  span.title {
    color: orange;
    font-weight: bold;
  }
  .profile-content {
    display: inline-block;
    padding: 12px;
  }
}
.friend-profile-img {
  margin-right: 10px;
}
h3.title {
  display: inline-block;
}
.following {
  margin-top: 1rem;
  .form-group {
    margin: 0;
  }
  input.user-search {
    display: inline-block;
    width: 200px;
    height: 1.5rem;
    padding: 4px 3px;
    border-bottom: 2px solid orange;
    margin-right: 10px;
  }
  .btn-search {
    border: 2px solid orange;
    color: orange;
    background-color: white;
    padding: 7px 13px;
    cursor: pointer;
  }
  .btn-search:hover {
    background-color: orange;
    color: white;
  }
  ul.friends_list {
    margin: 1rem 0;
    li.friend {
      display: inline;
      margin: 5px 1rem 5px 0;
    }
  }
}
