// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

form.new_post, form.edit_post {
  div.page-box {
    width: 100%;
    height: 15px;
    color: $light-dark;
    input.new-post-page {
      position: relative;
      float: right;
      top: -10px;
      display: inline;
      color: $light-dark;
      width: 3.5rem;
      text-align: right;
      border: none;
      padding: {
        top: 0;
      }
    }
    span {
      position: relative;
      float: right;
      top: -0.2rem;
    }
  }
}

.add-card {
  margin: {
    bottom: 0rem;
  }
  background: {
    color: #eeeeee;
  }
}

div.parent-card {
  margin: {
    top: 1rem;
    bottom: 0;
  }
}

div.post-card {
  margin: {
    top: 1rem;
  }
}


.btn-americano {
  border: none;
  background-color: white;
  color: $light_dark;
  margin: 0px 5px;
}

.user-post {
  float: right;
  margin: {
    right: 0.8rem;
  }
}

.btn-box {
  margin: {
    top: 3rem;
  }
}

.delete-post, .edit-post {
  float: right;
  margin: {
    right: 0.8rem;
  }
  color: $light_dark;
}

.etc-right {
float: right;
}

div.etc-post {
  display: inline;
  i, a, span {
    color: $light_dark;
  }
  span.like-sum {
    font-size: 20px;
    margin-left: 3px;
    margin-right: 3px;
  }
}


.reply-new {
  padding: {
    bottom: 1rem;
  }
}

i.icon-user {
  color: $light_dark;
}

/* Tooltip container */
div.tooltip {
  font-size: 14px;
  position: relative;
  display: inline-block;
  opacity: 1;
}

/* Tooltip text */
.tooltip > .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $dark;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip > .tooltiptext::after {
  //content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover > .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.text-grey{
  color: $light_dark;
}

pre {
  overflow: auto;
  background: #23241f;
}
