// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

form.new_post {
  i.fa-book {
    font-size: 25px;
  }
  input.new-post-page {
    display: inline;
    width: 5rem;
    text-align: center;
  }
}

.delete-post, .edit-post {
  margin: {
    left: 0.5rem;
  }
  color: $light_dark;
}

div.etc-post {
  i, a {
    color: $light_dark;
  }
}

i.icon-user {
  color: $light_dark;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

/* Tooltip text */
.tooltip > .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $dark;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip > .tooltiptext::after {
  //content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover > .tooltiptext {
  visibility: visible;
  opacity: 1;
}
