@import "variables";

.user-view-size{
  width: 300px;
}
.sign-in {
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.btn-yeahap {
  background-color: $main_color;
  color: white;
  width: 260px;
  padding: 11px 0;
  border: none;
  margin: 1rem 0;
}
.btn-yeahap2 {
  background-color: $main_color;
  color: white;
  padding: 11px 10px;
  border: none;
  margin: 1rem 0;
}
.facebook-login-button {
  width: 260px;
  height: 40px;
}
.md-form {
  input {
    border-bottom: 1px solid $main_color;
  }
}
