// Place all the styles related to the yeahaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-title-wrapper {
  width: 100%;
  margin-bottom: 0.3rem;
}
.box-title {
  font-size: 18px;
  font-weight: bold;
}
.box-title-count {
  font-size: 15px;
  color: #aaa;
  font-weight: bold;
}

.tooltip {
  z-index: 1;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  top: 10%;
  left: 100%;
  visibility: hidden;
  width: 50px;
  height: 30px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}



.ellipsis {
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  width:185px;
  overflow:hidden;
}

