// Place all the styles related to the yeahaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.box-title-wrapper:hover .box-toolbar {
  visibility: visible;
}

.box-toolbar {
  visibility: hidden;
}

.handler {
  cursor: move;
  font-size: 1.2rem;
  margin-right: 3px;
  color: $main_color;
}

.yeahap-ul{
  width: 100%;
  min-height: 100px;
}

.yeahap-li {
  float: left;
  div {
    a {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }
}

.private {
  div.page-block {
    a.list-group-item {
      background-color: #eee;
    }
  }
}

.yeahap-li-placeholder {
  float: left;
  margin: 0;
  padding: 0;
  width: 224.5px;
  height: 77.5px;
  background-color: $main_color;
  opacity: 0.3;
}

.box-li-placeholder {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  background-color: $main_color;
  opacity: 0.3;
}

.box-title-wrapper {
  width: 100%;
  margin-bottom: 0.3rem;
}
.box-title {
  font-size: 18px;
  font-weight: bold;
}
.box-title-count {
  font-size: 15px;
  color: #aaa;
  font-weight: bold;
}

.tooltip {
  z-index: 1;
  position: relative;
  display: inline-block;
}

.menu-btn {
  position: absolute;
  top: 5%;
  left: 86%;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: #d0d0d0;
}

.tooltip .tooltiptext {
  top: -23%;
  left: 84%;
  visibility: hidden;
  width: 90px;
  height: 90px;
  background-color: black;
  color: #fff;
  text-align: left;
  padding: 5px 0 5px 7px;
  border-radius: 6px;
  opacity: 0.5;
  a {
    line-height: 1;
  }
  a:hover {
    color: orange;
  }

  /* Position the tooltip text - see examples below! */
  position: absolute;
}

.ellipsis {
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  width:185px;
  overflow:hidden;
}
input.edit-yeahap {
  border-bottom: 2px solid $main_color;
  padding-bottom: 0;
}
div.title-counter {
  display: inline-block;
}
.box-title {
  margin-right: 0.5rem;
}
input.title-edit-input {
  outline: 3px solid $main_color;
  position: relative;
  left: 2px;
  margin-right: 0.5rem;
  width: 150px;
}
.delete-box {
  margin-left: 5px;
  color: $main_color;
}
